#toolbar {
  display: flex;
  align-items: center;
  background-color: $gray-900;
  color: #fff;
  padding: 0.5em;
  justify-content: space-between;
}
#toolbar button,
#page-mode input {
  color: currentColor;
  background-color: transparent;
  font: inherit;
  border: 1px solid currentColor;
  border-radius: 3px;
  padding: 0.25em 0.5em;
}
#toolbar button:hover,
#toolbar button:focus,
#page-mode input:hover,
#page-mode input:focus {
  color: $color-brand-01;
}
#page-mode {
  display: flex;
  align-items: center;
  padding: 0.25em 0.5em;
}

#viewport-container {
  flex: 1;
  background: #eee;
  overflow: auto;
}
#viewport {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#viewport > div {
  text-align: center;
  max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
#viewport canvas {
  width: 100%;
  box-shadow: 0 2px 5px gray;
  font-family: sans-serif;
  max-width: 800px;
}

.pdf-wrapper {
    height: 0 !important;
    opacity: 1 !important;
    width: 0 !important;
    overflow: hidden !important;
    position: absolute;
    top: 0;
    left: 0;
}

html {
    overflow: hidden;
}

#pdf {
    font-family: Verdana, sans-serif !important;
    font-size: 9px !important;
    line-height: 1 !important;
    color: initial;

    * {
      font-family: Verdana, sans-serif !important;
      font-size: 9px !important;
      line-height: 1 !important;
    }

    .table {
      th, td {
        padding: 2px 0px;
        color: initial;
        border-top: none;
      }
    }
}